<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>100 años de soledad</title>
</head>
<body>
    <div class="flex flex-col justify-self-center content-center p-8 gap-4">
        <div class="flex items-center gap-4">
            <div class="filters">
            <input type="checkbox" id="eventos" class="tag" value="eventos">
                <label for="eventos">Eventos</label>
            </div>
            <div class="filters">
                <input type="checkbox" id="personajes" class="tag" value="personajes">
                <label for="personajes">Personajes</label>
            </div>
            <div class="filters">
            <input type="checkbox" id="localizaciones" class="tag" value="localizaciones">
                <label for="localizaciones">Localizaciones</label>
            </div>
            <div class="filters">
                <input type="checkbox" id="objetos" class="tag" value="objetos">
                <label for="objetos">Objetos</label>
            </div>
        </div>

        <div class="flex items-center gap-3 ">
            <input class="border-2 border-gray-500 p-2" type="text" name="to_search" id="to_search" placeholder="Eventos capitulo 13" min="1" required> 
            <Button class="hover:cursor-pointer" id="search_btn"><i class="fa-solid fa-magnifying-glass"></i></Button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</body>
</html>